@import '../../theme/utils/variables.scss';
@import '../../theme/utils/mixins.scss';

.card {
    width: rem(380px);
    padding: rem(29px);
    padding-top: rem(39px); 

    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: rem(4px);
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    
    background: $color-bg;

    display: grid;
    grid-auto-flow: row;
    grid-row-gap: rem(20px);
    
    &__fields {
        display: grid;
        grid-auto-flow: row;
        row-gap: rem(10px);
    }

    &__header {
        margin: 0;
        padding: 0;
    }
}

.login-card {
    &__no-acc-section {
        margin-top: rem(10px);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__no-acc-text {
        color: #000;
    }
}