@import "utils/libs";
@import "utils/vars";
// @import "utils/mixins";
@import "utils/fonts";

body {
  color: rgba($color-shade, .75);
  box-sizing: border-box;
  background-color: #F4F4F6;
}

h1 {
  font: bold 24px/30px $font-title;
  color: $color-shade;
}
h2 {
  font: bold 19px/24px $font-title;
  color: $color-shade;
}
h3 {
  font: bold 12px/15px $font-content;
  color: $color-shade;
  text-transform: uppercase;
}

// Modules
@import 'modules/header.scss';
@import 'modules/menu.scss';
@import 'modules/btn.scss';
