@import '../../theme/variables.scss';
@import '../../styles/mixins.scss';

// button or button-stylized link
.btn {    
    text-decoration: none;
    outline: none;
    border: none;
    min-width: 99px;

    font: bold 12px/44px $font-content;
    text-align: center;
    text-transform: uppercase;
    
    height: 44px; 
    border-radius: 22px;
    display: inline-block;

    // add this class for lower-height button
    &_slim {
        height: 34px;
        line-height: 34px;
    }
    &_ghost.btn_slim {
        height: 30px;
        line-height: 30px;
    }

    // filled btn
    &_primary {
        background: $color-gradient;
        color: $color-bg;

        &:hover {
            opacity: .5;
        }
    }
    
    // text only btn
    &_text {
        padding: 0;
        background: none;
        
        // btn.btn_text.btn_text-secondary
        &-secondary {
            color: rgba($color-shade, .5);
        }

        // btn.btn_text.btn_text-primary
        &-primary {
            @include text-color($color-gradient);
        }
        &:hover {
            opacity: .5;
        }
    }

    // wide (stratch to the parent's width) filled true button with an icon
    &_big {
        display: block;
        width: 100%;
        position: relative;
        max-width: 320px;
    }
    
    // icon for btn_big
    &__icon {
        line-height: 44px;
        width: 44px;
        text-align: center;

        position: absolute;
        right: 0;

        color: $color-bg;
        user-select: none;
        cursor: pointer;
    }
    
    // text and gradient border button
    // border is an ::before element which has gradient background
    // and lays under the white button itself
    //
    // TODO: fix btn_ghost behaving as if there is no border
    // (pseudo element doesn't affect the layout)
    &_ghost {
        min-width: 95px; // -4px due to the gradient pseudo border
        margin: 2px;
        height: 40px;
        line-height: 40px;

        color: $color-primary;
        background: $color-bg;
        position: relative;

        // to place the ::before under btn_ghost
        transform-style: preserve-3d;

        &::before {
            content: '';
            display: inline-block;

            transform: translateZ(-1px);
            
            background: $color-gradient;
            border-radius: 22px;
            
            position: absolute;
            top: -2px;
            bottom: -2px;
            left: -2px;
            right: -2px;
        }
        &:hover::before {
            opacity: .5;
        }
    }
}