//- benefit
    short phrase w/ info and icon from material-icons

    example: 
        +benefit({ title: 'Комфорт', info: 'Шумопоглощающие стены', iconName: 'insert_emoticon'})
mixin benefit({ title, info, iconName })
    .benefit
        span.material-icons.benefit__icon= iconName
        strong.benefit__title= title
        p.benefit__info= info