@import '../../theme/utils/variables.scss';
@import '../../theme/utils/mixins.scss';

.benefit {
    width: rem(280px);

    font: rem(14px) $font-content;
    line-height: rem(24px);
    
    &__icon {
        float: left;
        margin-right: rem(10px);
        font-size: rem(48px);
        @include text-color($gradient-primary);
    }
    
    &__title {
        font-weight: bold;
    }

    &__info {
        padding: 0;
        margin: 0;
    }  

    &::after {
        content: '';
        display: block;
        height: 1px;
        width: 100%;
        background-color: rgba($color-shade, .1);
        margin: rem(20px) 0;
    }
}