//- font-awesome icon-stylized links. used in both footers
mixin contact-links(className='')
    a(href='#' class=`${className} fab fa-twitter`)
    a(href='#' class=`${className} fab fa-facebook-square`)
    a(href='#' class=`${className} fab fa-instagram`)