//- login form asking e-mail and password

include ../btn/btn
include ../text-field/text-field

mixin login-form()
    form.login-form(method='post' action="#")
        h1.login-form__header Войти

        .login-form__fields
            +text-field({ 
                label: null,
                name: "email", 
                placeholder: "Email", 
                type: "email", 
                class: "login-form__field" 
            })
            +text-field({
                label: null, 
                name: "password", 
                placeholder: "Пароль", 
                type: "password", 
                class: "login-form__field"
            })
        
        .login-form__button-enter
            +btn({ text: 'Войти', href: '#', iconName: 'arrow_forward', class: 'btn_big' })
        
        .login-form__no-acc-section
            span.login-form__no-acc-text Нет аккаунта на Toxin?
            +btn({ text: 'Создать', href: '#', class: 'btn_ghost' })


    