@import '../../theme/utils/variables.scss';

// radio-group item
.radio {
    display: inline-flex;
    margin-right: 20px;
    line-height: 20px;
    
    // hide the browser's default radio
    &-default {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;

        // display point inside custom radio button if it is checked
        &:checked ~ .radio-custom::after {
            display: block;
        }
        &:checked ~ .radio-custom{
            border-color: $color-primary;
        }
    }
    
    // create custom radio button
    &-custom {
        position: relative;
        display: inline-block;
        width: 20px;
        height: 20px;
        
        box-sizing: border-box;
        border-radius: 100%;
        border: 1px solid rgba($color-shade, .25);
    }
    

    // point inside radio
    &-custom::after {
        content: '';
        display: none;
        width: 12px;
        height: 12px;

        position: absolute;
        top: 3px;
        left: 3px;

        border-radius: 100%;
        background: $gradient-primary;
    }

    &-label {
        margin-left: 10px;
    }

}