//- Filled rectangle w/ color name and color hex-code nearby
    
    options.name - color's name
    options.hex - color's hex value
    options.opacity - color sample's opacity
    options.mix - additional component classes
    
    example:
        +color-demo({ name: 'Dark Shade 75%', hex: '#1F2041', opacity: '.75', mix: 'colors__item' })

mixin color-demo(options = {})
    -
        var classes = options.mix || ''
        var sampleColor = {
            'background-color': options.hex,
            'opacity': options.opacity || 1
        }

    .color-demo(class= classes)
        .color-demo__sample(style= sampleColor)

        .color-demo__info
            h2.color-demo__name= options.name
            h2.color-demo__hex= options.hex
