@import '../../theme/variables.scss';

.color-demo {
    display: flex;
    align-items: center;

    &__sample {
        width: 8.75rem;
        height: 8.75rem;
        border-radius: 6px;
        margin-right: 5rem;
    }
    
    &__name {
        margin: 0;
    }

    &__hex {
        margin: 0;
    }
}