footer.footer.footer_creative
    .footer-wrap.footer-wrap_creative
        .footer__section.footer__logo
            img(src="/assets/img/toxin-logo.svg", alt="Toxin logo")

        .footer__section.footer__text
            | Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.
        .footer__section.footer__contact-links
            +contact-links('footer__icon')