// radio-group
.radio {
    // hide the browser's default radio
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;

    &-container {
        display: inline-flex;
    }
    
    // create custom one
    &-custom {
        position: relative;
        display: inline-block;
        width: 20px;
        height: 20px;
        
        box-sizing: border-box;
        border-radius: 100%;
        border: 1px solid rgba($color-shade, .25);
    }
    &:checked ~ &-custom{
        border-color: $color-primary;
    }

    // point inside radio
    &-custom::after {
        content: '';
        display: none;
        width: 12px;
        height: 12px;

        position: absolute;
        top: 3px;
        left: 3px;

        border-radius: 100%;
        background: $color-gradient;
    }
    &:checked ~ &-custom::after {
        display: block;
    }

    &-label {
        font: 14px/20px $font-content;
        &-wrap {
            display: inline-block;
            margin-left: 10px;
        }
    }
}