@import '../../theme/utils/variables.scss';

.card {
    width: 380px;
    padding: 29px;
    padding-top: 39px; 

    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    
    background: $color-bg;

    display: grid;
    grid-auto-flow: row;
    grid-row-gap: 20px;
    
    &__fields {
        display: grid;
        grid-auto-flow: row;
        row-gap: 10px;
    }

    &__header {
        margin: 0;
        padding: 0;
    }
}

.search-options-card {
    &__submit-btn {
        margin-top: 12px;
    }
}