//- subscribe form
    text field with an arrow-styled submit button

    usage: +subscribe-form('subscription label')(method="get" action="#")
mixin subscribe-form(label)
    form&attributes(attributes).subscribe
        +text-field(label)(name='email' placeholder='Email')
        button(type="submit" class="material-icons subscribe__arrow-btn") arrow_forward
