@import '../../theme/utils/variables.scss';
@import '../../theme/utils/mixins.scss';

.subscribe-form {
    position: relative;
    &__send-btn {
        width: rem(44px);
        height: rem(44px);
        
        background-color: transparent;
        padding: 0;
        margin: 0;
        outline: none;
        border: none;
        
        @include text-color($gradient-primary);
        position: absolute; // TODO: avoid usind position: absolute
        left: calc(320px-44px);

        &:hover {
            opacity: .5;
        }
    }
}
