//- subscribe form
    text field with an arrow-styled submit button

    options.label - label of the field
    options.attributes - form attributes such as method and action

    example:
        +subscribe-form({
            label: 'subscription label',
            attributes: {
                method: 'get',
                action: '#'
            }
        })

include ../text-field/text-field

mixin subscribe-form({ label, attributes })
    form&attributes(attributes).subscribe-form
        +text-field(label)(name='email' placeholder='Email')
        //- button(type="submit" class="material-icons subscribe-form__send-btn") arrow_forward
