@import '../../theme/utils/variables.scss';
@import '../../theme/utils/mixins.scss';

.registration-page__background-image {
    background: no-repeat url('./img/registration-page__background.jpg');
    background-size: cover;
}

.registration-page__container {
    width: 100%;
    max-width: 1160px;
    
    margin: 0 auto;
    padding-top: rem(30px);
    padding-bottom: rem(26px);
    
    display: flex;
    align-items: flex-start;
    justify-content: center;
}