@import '../../theme/utils/variables.scss';

.demo-block {
    min-height: 100vh;
    background-color: $color-bg;
    // here should be a pseudoelement with logo.svg
}

// 
// Colors and fonts
//

.colors-and-fonts {
    padding: 145px 150px;

    display: flex;
    justify-content: space-between;
}


.colors {
    display: grid;
    grid-auto-rows: max-content;
    row-gap: 20px;
}

.fonts {
    margin-right: 37px;
    display: grid;
    grid-auto-rows: max-content;
    grid-template-columns: 40px 340px;
    column-gap: 30px;
    row-gap: 50px;
}

.muted-text {
    margin: 0;
    padding: 0;

    text-transform: capitalize;
    color: rgba($color-shade, .25);
    font-family: $font-content;
    font-weight: normal;
    text-align: right;
}

.font-demo {
    margin: 0;
    padding: 0;
}

//
// Form Elements
//

.form-elements {
    padding: 140px 20px;
    margin: 0 auto;
    max-width: 1160px;
    display: grid;
    grid-template-columns: repeat(3, minmax(236px, 320px));
    gap: 40px;
    justify-content: space-between;
}

.checkboxes {
    display: grid;
    row-gap: 10px;
    max-width: 236px;
}

.rich-checkboxes {
    display: grid;
    row-gap: 10px;
}

.radio-group {
    display: flex;
}

.toggles {
    display: flex;
    flex-direction: column;

    &__item {
        margin-bottom: 14px;
    }
}

.buttons {
    display: grid;
    justify-items: left;
    gap: 30px;
}

.exp-list__content {
    display: grid;
    grid-auto-flow: row;
    row-gap: 10px;
    margin-top: 13px;
}

//
// Cards
//

.cards-bg {
    background-color: #E5E5E5;
}

.cards {
    padding: 150px 20px 140px;
    margin: 0 auto;
    max-width: 1160px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    row-gap: 40px;
    justify-content: space-between;
    background-color: #E5E5E5;
}

// arranging same cards w/ the flexbox
// .cards {
//     padding: 150px 20px 140px;
//     margin: 0 auto;
//     // max-width: 1160px;
//     display: flex;
//     flex-flow: row wrap;
//     justify-content: space-around;
//     background-color: #E5E5E5;
// }

// .cards > * {
//     margin-bottom: 20px;
// }