//- expandable-list
    css-only dropdown for checkboxes:
    dropdown's header labeled to a hidden checkbox,
    so depending on it's 'checked' state, content block is flipping 

    id must be provided if there is more than one exp-list on the page

    options.label - title of the expandable list
    options.isHidden - should it be hidden by default
    options.attributes - any input's attributes like id, name, etc

    +expandable-list(label: 'expandable checkbox list', isHidden: true, attributes: {id='meals'}')
        +checkbox({ label: 'Завтрак', attributes: { name='breakfast' } })
        +checkbox({ label: 'Обед', attributes: { name='dinner' } })

mixin expandable-list(options)
    input(type="checkbox" checked=options.isHidden id=options.attributes.id).exp-list__checkbox
    
    label(for=options.attributes.id).exp-list__label
        span= options.label
        span.material-icons.exp-list__icon expand_less
        
    .exp-list__content
        block
