extends ../../layouts/base-layout
    

//- include ../../components/login-card/login-card
include ../../components/search-options-card/search-options-card

block variables
    - var title= "Toxin отель"

block main
    h1 date dropdown tests    
    +search-options-card({ formAttributes: { action: '#', method: 'get' }})