extends ../../layouts/base-layout
    
include ../../components/pie-chart/pie-chart

block variables
    - var title= "Toxin отель"

block main
    h1 pie-chart

    +pie-chart([130, 65, 65, 0])
    +pie-chart([11, 50])
    +pie-chart([65, 13, 62, 12])
