extends ../../layouts/base-layout
    

//- include ../../components/login-card/login-card
include ../../components/like-btn/like-btn

block variables
    - var title= "Toxin отель"

block main
    h1 like-btn

    +like-btn({ likesNumber: 2 })
    +like-btn({ likesNumber: 12, isActive: true })