extends ../../layouts/base-layout
    

include ../../components/btn/btn
include ../../components/like-btn/like-btn
include ../../components/comment/comment

block variables
    - var title= "Toxin отель"

block main
    h1 like-btn

    +like-btn({ likesNumber: 2 })
    +like-btn({ likesNumber: 12, isClicked: true })
    +comment({
        username: 'Мурад Сарафанов',
        text: 'Великолепный матрас!',
        date: 'February 28, 2020 04:05:00',
        mix: 'room-details__comment'
    })