extends ../../layouts/base-layout
    

//- include ../../components/login-card/login-card

block variables
    - var title= "Toxin отель"

block main
    ul.bullet-list
        li test
        li да
    
