extends ../../layouts/base-layout
    
include ../../components/room-preview/room-preview

block variables
    - var title= "Toxin отель"

block main
    h1 fix room-preview

    +room-preview({
        roomNumber: 888,
        daylyPrice: '9 990',
        rating: 5,
        isLuxury: true,
        commentsNumber: 145,
        photos: [
            require('./img/img-1.png'),
            require('./img/img-2.png'),
            require('./img/img-3.png')
        ]
    })

