extends ../../layouts/base-layout
    

//- include ../../components/login-form/login-form

block variables
    - var title= "Toxin отель"

block main
    ul.bullet-list
        li test
        li да
    
