@import './utils/fonts';
@import './utils/variables';
@import './utils/mixins';

html {
  font-size: $mainFontSize;
}

body, html, p, h1, h2, h3 {
  margin: 0;
  padding: 0;
}

body {
  color: rgba($color-shade, .75);
  font: normal rem(14px) $font-content;
  line-height: rem(24px);
  background-color: #fff;
}

h1 {
  font: bold rem(24px) $font-title;
  line-height: rem(30px);
  color: $color-shade;
}

h2 {
  font: bold rem(19px) $font-title;
  line-height: rem(24px);
  color: $color-shade;
  padding-bottom: rem(20px);
}

h3 {
  font: bold rem(12px) $font-content;
  line-height: rem(15px);
  color: $color-shade;
  text-transform: uppercase;
}

// bullet-list
ul {
  list-style: none;
  padding: 0;
  margin: 0;

  font: rem(14px) $font-content;
  line-height: rem(24px);
  color: rgba($color-shade, .75);

  & li {
      margin-bottom: rem(10px);
      display: flex;

      &:last-child {
          margin-bottom: 0;
      }

      &::before {
          content: '';
          display: block;
          width: rem(10px);
          height: rem(10px);
          margin-right: rem(11px);
          margin-top: rem(6px);

          border-radius: 100%;
          background-color: rgba($color-shade, .25);
          
          flex-shrink: 0;
      }
  }
}