// @import '../styles/libs.scss';
@import './fonts';
@import './variables';
// @import "utils/mixins";

body, html {
  margin: 0;
  padding: 0;
}

body {
  color: rgba($color-shade, .75);
  font: normal 14px/24px $font-content;
  background-color: #fff;
}

h1 {
  font: bold 24px/30px $font-title;
  color: $color-shade;
}

h2 {
  font: bold 19px/24px $font-title;
  color: $color-shade;
}

h3 {
  font: bold 12px/15px $font-content;
  color: $color-shade;
  text-transform: uppercase;
}

// bullet-list
ul {
  list-style: none;
  padding: 0;
  margin: 0;

  font: 14px/24px $font-content;
  color: rgba($color-shade, .75);

  & li {
      margin-bottom: 10px;

      &:last-child {
          margin-bottom: 0;
      }

      &::before {
          content: '';
          display: inline-block;
          width: 10px;
          height: 10px;
          margin-right: 11px;
          border-radius: 100%;
          background-color: rgba($color-shade, .25);
      }
  }
}