// Fonts
$font-title              : 'Quicksand', 'Open Sans' sans-serif;
$font-content            : 'Montserrat', sans-serif; 

// Size
$desktopWidth            : 1280px;
$smDesktopWidth          : 980px;
$tableWidth              : 768px;
$phoneWidth              : 480px;
$smPhoneWidth            : 320px;

// Colors
$color-primary           : #BC9CFF;
$color-accent            : #6FCF97;
// for different tones of the color use rgba($color-shade, .75/.50/.25/.05)
$color-shade             : #1F2041;
$color-bg                : #FFFFFF;