.btn {
    background: $color-gradient;
    color: $color-bg;

    font: bold 12px/15px $font-content;
    text-decoration: none;
    text-transform: uppercase;

    padding: 10px 20px;
    border-radius: 22px;

    &_ghost {
        display: inline-block;
        padding: 8px 18px;
        border: 2px solid transparent;
        
        color: $color-primary;
        background: $color-bg;
        background-clip: padding-box;
    }
}

.btn-ghost-wrap {
    display: inline-block;
    background: $color-gradient;
    border-radius: 22px;
}