//
// FIELDS
//

.field {
    width: 320px;
    height: 44px;
    padding: 12px 15px 8px;
    box-sizing: border-box;

    background: $color-bg;
    border: 1px solid rgba($color-shade, .25);
    border-radius: 4px;
    transition: border 100ms linear;

    font: 14px/24px $font-content;
    color: rgba($color-shade, .75);
    

    &:hover, &:focus {
        outline: none; // rm default chrome style for input:focus
        border-color: rgba($color-shade, .5);
    }

    &::placeholder {
        color: rgba($color-shade, .25);
    }
}

.subscribe {
    position: relative;
    &__arrow-btn {
        width: 44px;
        height: 44px;
        
        background-color: transparent;
        padding: 0;
        margin: 0;
        outline: none;
        border: none;
        
        @include text-color($color-gradient);
        position: absolute;
        left: calc(320px-44px);

        &:hover {
            opacity: .5;
        }
    }
}

//
// CONTROLS
//

// hide default and create custom checkbox,
// checkmark is just two rectangles one overlayering the other
.checkbox {
     // hide the browser's default checkbox
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;

    &-container {
        display: flex;
        margin-bottom: 9px;
    }
    
    // label text
    &-label {
        font: 14px/20px $font-content;
        
        &-wrap {
            color: rgba($color-shade, .5);
            margin-left: 10px;
            max-width: 236px
        }
        &_rich {
            color: rgba($color-shade, .75);
            font-weight: bold;
        }
    }
    &-info {
        font: 12px/14px $font-content;
        color: rgba($color-shade, .5);
        margin: 5px 0 0 0 ;
    }
    
    // custom checkbox
    &-custom { 
        position: relative;
        width: 20px;
        height: 20px;
        background-color: $color-bg;
        
        box-sizing: border-box;
        border: 1px solid rgba($color-shade, .25);
        border-radius: 4px;
    }
    
    // checkmark (white rectangle)
    &-custom::after, &-custom::before {
        content: '';
        display: block;
        background-color: $color-bg;
        
        width: 6px;
        height: 8px;
        transform: rotate(45deg);

        // values were picked up empirically
        position: absolute;
        top: 0.5px; // it needs to be a little bit higher
        left: 5.5px;
    }
    // checkmark (gradient rectangle)
    &-custom::before {
        display: none;
        top: 3.5px; 
        background: $color-gradient;
    }
    // "selector1 ~ selector2" takes all elems matching second selector
    // which are placed after the elems matching first one.
    &:checked {
        ~ .checkbox-custom {
            border-color: $color-primary;
        }

        ~ .checkbox-custom::before {
            display: block;
        }

        // if checbox needs to be toggle-styled
        ~ .toggle {
            border-color: $color-primary;
            
            &::after {
                left: 23px;
                background: $color-gradient;
            }
        }
    }
}

// toggle
// addition to checkbox
.toggle {
    display: inline-block;
    position: relative;
    height: 20px;
    width: 40px;
    
    box-sizing: border-box;
    border: 1px solid rgba($color-shade, .25);
    border-radius: 10px;

    // point inside the toggle
    &::after {
        content: '';
        display: block;
        width: 12px;
        height: 12px;

        position: absolute;
        top: 3px;
        left: 3px;
        transition: 70ms left ease-in;

        border-radius: 100%;
        background: rgba($color-shade, .25);
    }

    ~ .checkbox-label-wrap {
        color: rgba($color-shade, .75);
    }
}


// link-btn
// button-stylized link
.btn {
    background: $color-gradient;
    color: $color-bg;

    font: bold 12px/15px $font-content;
    text-decoration: none;
    text-transform: uppercase;

    padding: 10px 20px;
    border-radius: 22px;

    &_ghost {
        display: inline-block;
        padding: 8px 18px;
        border: 2px solid transparent;
        
        color: $color-primary;
        background: $color-bg;
        background-clip: padding-box;
    }
}

.btn-ghost-wrap {
    display: inline-block;
    background: $color-gradient;
    border-radius: 22px;
}


// radio-group
.radio {
    // hide the browser's default radio
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;

    &-container {
        display: inline-flex;
    }
    
    // create custom one
    &-custom {
        position: relative;
        display: inline-block;
        width: 20px;
        height: 20px;
        
        box-sizing: border-box;
        border-radius: 100%;
        border: 1px solid rgba($color-shade, .25);
    }
    &:checked ~ &-custom{
        border-color: $color-primary;
    }

    // point inside radio
    &-custom::after {
        content: '';
        display: none;
        width: 12px;
        height: 12px;

        position: absolute;
        top: 3px;
        left: 3px;

        border-radius: 100%;
        background: $color-gradient;
    }
    &:checked ~ &-custom::after {
        display: block;
    }

    &-label {
        font: 14px/20px $font-content;
        &-wrap {
            display: inline-block;
            margin-left: 10px;
        }
    }
}

// expandable-list
// dropdown's header labeled to a hidden checkbox,
// so depending on it's 'checked' state, content block is flipping 
.exp-list {
    &__label {
        display: flex;
        font: bold 12px/24px $font-content;
        color: $color-shade;
        text-transform: uppercase;
        cursor: pointer;
    }

    &__icon {
        user-select: none;
        color: rgba($color-shade, .5);
        transition: transform 100ms linear;
        margin-left: 30px; 
    }

    &__checkbox {
        display: none;

        &:checked {
            ~ .exp-list__content {
                transform: rotateX(90deg);
                height: 0;
                min-height: 0;
            }

            ~ .exp-list__label .exp-list__icon {
                transform: rotateX(180deg)
            }
        }
    }
    &__content {
        position: relative;
        min-height: 40px; // animation looks stupid w/o min-height
        transition: transform 100ms ease-in, min-height 120ms ease-in;
        transform-origin: top;
    }
}