//- main header contains logo, navigation and login-register/username section

    options.navItems - array of { name, href } objects
    options.username - if not passed assume that user is not logged in

    example:
        +header({ username: 'Konstantin Konstantinopolsky' })
    
    TODO: if username is provided, show it instead of login buttons

include ../logo/logo
include ../btn/btn

mixin header({ navItems, username } = {})
    if !navItems
        - 
            //- default header-navigation links
            navItems = [
                { name: 'Home',          href: 'changeme.com' },
                { name: 'About us',      href: 'changeme.com' },
                { name: 'Services',      href: 'changeme.com' },
                { name: 'Careers',       href: 'changeme.com' },
                { name: 'News',          href: 'changeme.com' },
                { name: 'Documentation', href: 'changeme.com' }
            ]

    header.main-header
        .main-header__container
            .main-header__logo
                +logo()
            
            nav.main-nav
                each item in navItems
                    a(href=item.href).main-nav__item= item.name
            
            .main-header__user-section
                +btn({ text: 'login', href: 'changeme.com', class: 'btn_ghost' })
                +btn({ text: 'register', href: 'changeme.com', class: 'btn_primary' })
