//- all these variables should be declared in the 'pages/page/page-data.pug'

block variables
    -
        var menuItems = [
            { title: 'home', href: '#', active: true },
            { title: 'about us', href: '#' },
            { title: 'services', href: '#' },
            { title: 'careers', href: '#' },
            { title: 'news', href: '#' },
            { title: 'documentation', href: '#' }
        ]