//- main header contains logo, navigation and login-register/username section

    options.lang - 'en' || 'ru'
    options.username - if not passed assume that user is not logged in

    example:
        +header({ lang: 'en', username: 'Konstantin Konstantinopolsky' })
    
    TODO: if username is provided, show it instead of login buttons

include ../logo/logo
include ../btn/btn

mixin header({ lang='ru', username } = {})
    //- item names for different languages
    //- TODO: find a way to move them in a separate file
    - 
        var localization = {
            navItems: {
                en: [
                    { name: 'news',          href: 'changeme.com' },
                    { name: 'about us',      href: 'changeme.com', expandable: true },
                    { name: 'services',      href: 'changeme.com' },
                    { name: 'careers',       href: 'changeme.com' },
                    { name: 'news',          href: 'changeme.com' },
                    { name: 'documentation', href: 'changeme.com' }
                ],
                ru: [
                    { name: 'о нас',         href: 'changeme.com' },
                    { name: 'услуги',        href: 'changeme.com', expandable: true },
                    { name: 'вакансии',      href: 'changeme.com' },
                    { name: 'новости',       href: 'changeme.com' },
                    { name: 'Cоглашения',    href: 'changeme.com', expandable: true },
                ]
            },
            buttonsText: {
                en: {
                    login: 'login',
                    register: 'register'
                },
                ru: {
                    login: 'вход',
                    register: 'регистрация'
                }
            }
        }
    -
        var navItems = localization.navItems[lang]
        var buttonsText = localization.buttonsText[lang]


    header.main-header
        .main-header__container
            .main-header__logo
                +logo()
            
            nav.main-nav
                each item in navItems
                    //- data-text attribute is essential for one header.scss trick
                    a(href=item.href data-text=item.name).main-nav__item= item.name
                    if(item.expandable)
                        i.material-icons expand_more
            
            .main-header__user-section
                +btn({ text: `${buttonsText.login}`, href: 'changeme.com', class: 'btn_ghost header__btn' })
                +btn({ text: `${buttonsText.register}`, href: 'changeme.com', class: 'btn_primary header__btn' })
