@import '../../theme/utils/variables.scss';
@import '../../theme/utils/mixins.scss';

.main-header {
    width: 100%;
    background-color: #fff;
    box-shadow: 0 rem(10px) rem(20px) rgba($color-shade, .05);

    &__container {
        min-height: rem(70px);
        width: 100%;
        max-width: 1160px;

        margin: 0 auto;  
        
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    &__logo {
        line-height: 1;
        margin-right: auto;
    }

    &__user-section {

    }

    &__btn {

    }
}

.main-nav {
    display: flex;
    align-items: center;
    &__item {
        text-decoration: none;
        text-transform: capitalize;
        color: rgba($color-shade, .5);
        transition: linear color .2s;
        
        margin-left: rem(20px); // 'UI-kit' - 30px, 'Website pages' - 20px ???
        &:last-child {
            margin-right: rem(20px);
        }

        &:hover, &:focus {
            color: rgba($color-shade, .75);
            font-weight: bold;
            padding-bottom: rem(2px);
        }
        
        // prevent bolded-on-hover text from moving 
        // reserving space for bolded text via pseudo element
        &::after {
            display: block;
            content: attr(data-text);
            font-weight: bold;
            height: 0;
            overflow: hidden;
            visibility: hidden;
        }
    }
}