//- checkbox

    custom checkbox input
    becomes checkbox_rich if optional block of content is provided

    example: 
        +checkbox({ label: 'Можно курить', attributes: { name: 'isSmokingAllowed', id: 'smoking-field' } })

        +checkbox({ label: 'Широкий коридор', attributes: { name: 'wideCorridor' } })
            | Ширина коридоров в номере не менее 91 см.
mixin checkbox(options)
    if !options
        - options = {}

    - var labelTextClass = `checkbox-label__text`
    - labelTextClass +=  block ? ' checkbox-label__text_rich' : ''


    label.checkbox
        input.checkbox-default(type="checkbox")&attributes(options.attributes)
        div.checkbox-custom

        .checkbox-label
            span(class= labelTextClass)= options.label
            if block
                p.checkbox-label__info: block 