@import '../../theme/utils/variables.scss';
@import '../../theme/utils/mixins.scss';

// hide default and create custom checkbox,
// checkmark is just two rectangles one overlayering the other
.checkbox {
    display: flex;
    line-height: rem(18px);

    // hide the browser's default checkbox
    &-default {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;

        // "selector1 ~ selector2" takes all elems matching second selector
        // which are placed after the elems matching the first one.
        // thus, the rule below applies only when the hidden checkbox is checked
        &:checked {
            ~.checkbox-custom {
                border-color: $color-primary;
            }

            ~.checkbox-custom::before {
                display: block;
            }
        }
    }
   
   // label, it's text and optional info block
   &-label {
       color: rgba($color-shade, .5);
       margin-left: rem(10px);

       &__text {
           font-size: rem(14px);
           line-height: rem(20px);

           &_rich {
               color: rgba($color-shade, .75);
               font-weight: bold;
           }
       }

       &__info {
           font: rem(12px) $font-content;
           line-height: rem(14px);
           color: rgba($color-shade, .5);
           margin: rem(5px) 0 0 0;
       }
   }

   // custom checkbox
   &-custom { 
       position: relative;
       min-width: rem(20px);
       width: rem(20px);
       height: rem(20px);
       background-color: $color-bg;
       
       box-sizing: border-box;
       border: 1px solid rgba($color-shade, .25);
       border-radius: 4px;
   }
   
   // checkmark (white rectangle)
   &-custom::after, &-custom::before {
       content: '';
       display: block;
       background-color: $color-bg;
       
       width: rem(6px);
       height: rem(8px);
       transform: rotate(45deg);

       // dunno how to place it w/o position:absolute
       position: absolute;
       top: rem(0.5px); // it needs to be a little bit higher then ::before
       left: rem(5.5px);
   }
   // checkmark (gradient rectangle)
   &-custom::before {
       display: none;
       top: rem(3.5px); 
       background: $gradient-primary;
   }
}