@import '../../theme/utils/variables.scss';
@import '../../theme/utils/mixins.scss';

// wrapper
.checkbox {
    display: flex;
    line-height: rem(18px);
    cursor: pointer;
}

// the browser's default checkbox
.checkbox-default {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;

    // the rule below applies on custom checkbox only when the hidden one is checked
    &:checked {
        ~.checkbox-custom {
            border-color: $color-primary;
        }

        ~.checkbox-custom::before {
            display: block;
        }
    }
    
    // accesibility
    &:focus {
        ~.checkbox-custom {
            box-shadow: 0 0 0 2px rgba($color-primary, .25);
        }
    }
}

// custom checkbox
.checkbox-custom {
    position: relative;
    min-width: rem(20px);
    width: rem(20px);
    height: rem(20px);
    background-color: $color-bg;
    
    box-sizing: border-box;
    border: 1px solid rgba($color-shade, .25);
    border-radius: 4px;

    // checkmark is just two rectangles one overlayering the other
    // (::after = white rectangle, ::before = gradient rectangle)
    &::after, &::before {
        content: '';
        display: block;
        background-color: $color-bg;

        width: rem(6px);
        height: rem(8px);
        transform: rotate(45deg);

        // TODO: get rid of position: absolute, top, left
        position: absolute;
        top: rem(0.5px);
        left: rem(5.5px);
    }

    // checkmark (gradient rectangle)
    &::before {
        display: none;
        top: rem(3.5px);
        background: $gradient-primary;
    }
}
   
// label, it's text and optional info block
.checkbox-label {
    color: rgba($color-shade, .5);
    margin-left: rem(10px);

    &__text {
        font-size: rem(14px);
        line-height: rem(20px);

        &_rich {
            color: rgba($color-shade, .75);
            font-weight: bold;
        }
    }

    &__info {
        font: rem(12px) $font-content;
        line-height: rem(14px);
        color: rgba($color-shade, .5);
        margin: rem(5px) 0 0 0;
    }
}