@import '../../theme/utils/variables.scss';
// i'm changing some of the properties, others are still set to their "!default" values

$datepickerDayCellSize: 40px;
$datepickerWidth: 320px;
$datepickerPadding: 20px;

$datepickerFontFamily: $font-content; // где-то монцератт, но где-то квиксанд!
$datepickerFontSize: 12px;

$datepickerTextColor: (
  button: #5cc4ef,
  otherMonth: rgba($color-shade, .25),
  otherMonthInRange: #ccc,
  disabled: rgba($color-shade, .25),
  currentDate: $color-accent,
  common: rgba($color-shade, .5),
  dayNames: $color-primary,
  navArrows: $color-primary
);

// also $gradient-primary is used sometimes
$datepickerBG: (
  selected: $color-primary,
  selectedHover: darken($color-primary, 5),
  inRange: rgba($color-primary, .25),
  hover: #f0f0f0
);

$datepickerBorderColor: (
  nav: transparent,
  inline: rgba($color-shade, .25),
  default: rgba($color-shade, .25)
);

$datepickerPointerSize: 0px ;


@import '../../../node_modules/air-datepicker/src/sass/datepicker.scss';
@import '../../../node_modules/air-datepicker/src/sass/cell.scss';
@import '../../../node_modules/air-datepicker/src/sass/navigation.scss';

.datepicker {
  &--nav-title, &--nav-title i {
    font: bold 19px/24px $font-title;
    color: $color-shade;
  }
}

.datepicker--cell {
  &.-focus- {
    background: map_get($datepickerBG, hover);
    border-radius: 50%;
  }

  &.-current- {
    color: map_get($datepickerTextColor, currentDate);

    &.-focus- {
      color: map_get($datepickerTextColor, common);
    }

    &.-in-range- {
      color: map_get($datepickerTextColor, common);
      font-weight: normal;
    }
  }

  &.-in-range- {
    background: none;

    &::after {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      opacity: .25;
      background: $gradient-primary;
      z-index: -1;
      border-radius: 0;
    }
  }
  
  &.-range-from-, &.-range-to- {
    border: none;
    background: $gradient-primary;
    color: #fff;
    border-radius: 50%;
    &::after {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      background: $gradient-primary;
      opacity: .25;
      z-index: -1;
    }
  }
  &.-range-from-::after {
      border-radius: 50% 0 0 50%;
  }
  &.-range-to-::after {
      border-radius: 0 50% 50% 0;
  }

  &.-selected- {
    color: #fff;
    border: none;
    background: $gradient-primary;
    font-weight: bold;

    &.-current- {
      color: #fff;
      background: map_get($datepickerBG, selected);
    }

    &.-focus- {
      background: map_get($datepickerBG, selectedHover);
    }
  }

  &.-weekend- {
    color: inherit;
    &.-selected-, &.-range-from-, &.-range-to- {
      color: #fff;
    }
  }
}

.datepicker--cell-day {
  &.-current- {
    color: #fff;
    font-weight: bold;
    &::after {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      background: $gradient-secondary;
      border-radius: 50%;
      z-index: -1;
    }
    &.-in-range-::after {
      background: $gradient-primary;
      border-radius: 0;
    }
    &.-range-from-, &.-range-to- {
      color: #fff;
    }
    &.-range-from-::after {
      background: $gradient-primary;
      border-radius: 50% 0 0 50%;
    }
    &.-range-to-::after {
      background: $gradient-primary;
      border-radius: 0 50% 50% 0;
    }
  }

  &.-other-month- {
    &.-in-range- {
      background: none;
    }
    &.-focus- {
      color: #fff
    }
  }
}

.datepicker--footer-buttons {
  padding: 0 20px 20px 20px;
  display: flex;
  justify-content: space-between;
}

.datepicker-btn {
  padding: 0;
  text-decoration: none;
  outline: none;
  border: none;
  font: bold 12px/15px $font-content;
  text-transform: uppercase;
  display: inline-block;
  
  transition: linear .1s;
  &:hover {
    opacity: .5;
  }
}

.datepicker--days-names {
  margin: 0;
  height: 40px;
}

.datepicker--day-name {
  text-transform: capitalize;
  font-weight: bold;
  font-size: 12px;
}

.datepicker--nav {
  border: none;
  padding-bottom: 10px;
  &-action {
    color: map_get($datepickerTextColor, navArrows);
    width: auto;
  }
}

