//- footer contains logo, subscribe-to-newsletter block,
    social media links and a few columns for other links

    options.navItems - array of { name, href } objects
    options.username - if not passed assume that user is not logged in

    example:
        +footer()

include ../logo/logo
include ../contact-links/contact-links
include ../subscribe-form/subscribe-form

mixin footer({ navItems, brief,  } = {})
    if !navItems
        -
            sections = [
                {
                    name: 'Навигация',
                    items : [
                        { name: 'О нас',  href: 'changeme.com' },
                        { name: 'Новости',   href: 'changeme.com' },
                        { name: 'Служба поддержки',      href: 'changeme.com' },
                        { name: 'Услуги',  href: 'changeme.com' },
                    ]
                },
                {
                    name: 'О нас',
                    items: [
                        { name: 'О сервисе',  href: 'changeme.com' },
                        { name: 'Наша команда',      href: 'changeme.com' },
                        { name: 'Вакансии',   href: 'changeme.com' },
                        { name: 'Инвесторы',  href: 'changeme.com' },
                    ]
                },
                {
                    name: 'Служба поддержки',
                    items: [
                        { name: 'Соглашения',  href: 'changeme.com' },
                        { name: 'Сообщества',      href: 'changeme.com' },
                        { name: 'Связь с нами',   href: 'changeme.com' },
                    ]
                },
            ]

    if !brief
        - brief = 'Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»'

    footer.main-footer
        .main-footer__info
            .main-footer__container
                .main-footer__section
                    +logo()
                    p.main-footer__brief= brief
        
                each section in sections
                    section.main-footer__section
                        h3= section.name
                        each item in section.items
                            a(href=item.href).main-footer__link= item.name
                
                .main-footer__section
                    h3 Подписка
                    p Получайте специальные предложения и новости сервиса
                    +subscribe-form({
                        label: 'Email',
                        attributes: {
                            method: 'get',
                            action: '#'
                        }
                    })
        
        .main-footer__copyright
            .main-footer__container   
                p Copyright © 2018 Toxin отель. Все права зачищены.
                .main-footer__contact-links
                    +contact-links({ className: 'main-footer__contact-link' })
            
