.menu {
    margin: 0;
    padding: 0;

    list-style-type: none;
    display: flex;
    
    &__link {
        text-decoration: none;
        text-transform: capitalize;
        color: rgba($color-shade, .5);
        font: 14px/18px $font-content;

        &_active {
            font-weight: bold;
            color: rgba($color-shade, .75);
        }
    }
}