@import '../../theme/utils/variables.scss';
@import '../../theme/utils/mixins.scss';

.room-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    color: $color-shade;

    &__numero-sign {
        font: bold 15px/24px $font-title;
    }

    &__number {
        font: bold 19px/24px $font-title;
        margin-left: 3px;
    }
    
    &__luxury-caption {
        font: bold 12px/18px $font-content;
        text-transform: uppercase;
        @include text-color($gradient-primary);
        margin-left: rem(5px);
    }
    
    &__price {
        margin-left: 0;
        font: bold 14px/18px $font-content;
        color: rgba($color-shade, .5);
    }
    
    &__price-caption {
        margin-left: 0;
        font: normal 12px/18px $font-content;
        color: rgba($color-shade, .5);
        margin-left: rem(7px);
    }
}