//- toggle-styled checkbox
    
    options.label: toggle label
    options.mix - additional classes
    options.attributes - any checkbox attributes like id, placeholder, checked, etc

    example:
        +toggle({ label: 'Get special offers', attributes: { name: 'specialOffers', checked: true } })

mixin toggle(options = {})
    label.toggle(class= options.mix)

        input.checkbox-default(type="checkbox")&attributes(options.attributes)
        div.toggle-custom

        span.toggle-label= options.label