@import '../../theme/utils/variables.scss';
@import '../../theme/utils/mixins.scss';

.toggle {
    line-height: rem(20px);
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: rem(10px);
    cursor: pointer;
}

// checkbox based toggle
.toggle-custom {
    display: inline-block;
    position: relative;
    height: rem(20px);
    width: rem(40px);

    box-sizing: border-box;
    border: 1px solid rgba($color-shade, .25);
    border-radius: rem(10px);

    // point inside the toggle
    &::after {
        content: '';
        display: inline-block;
        width: rem(12px);
        height: rem(12px);

        // TODO: get rid of position: absolute and top: 3px
        position: absolute;
        top: rem(3px);
        left: rem(3px);
        transition: 70ms left ease-in;

        border-radius: 100%;
        background: rgba($color-shade, .25);
    }
}

// hide default checkbox
// TODO: fix .checkbox-default class having same name here and in the checkbox.scss
.checkbox-default {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
    
    // accesibility
    &:focus {
        outline: none;
        ~ .toggle-custom {
            box-shadow: 0 0 0 2px rgba($color-primary, .25);
        }
    }

    &:checked ~ .toggle-custom {
        border-color: $color-primary;
        
        &::after {
            left: rem(23px);
            background: $gradient-primary;
        }
    }
}