@import '../../theme/utils/variables.scss';
// override plugin specific styles
.bx-wrapper {
    margin-bottom: 0;
    border: none;
    box-shadow: none;
    
    .bx-controls-direction a {
        top: 0;
        margin-top: 0px;
        width: 42px;
        height: 100%;
        text-indent: 0px;

        font-size: 24px;
        line-height: 151px;
        color: $color-bg;
        text-decoration: none;
        padding-left: 10px;
        z-index: auto;
    }

    .bx-controls-direction {
        opacity: 0;
        transition: .1s linear;
    }
    &:hover .bx-controls-direction {
        opacity: 1;
    }
    
    .bx-prev, .bx-next {
        border-radius: 4px 0 0 0;
        background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 99.99%, rgba(255, 255, 255, 0) 100%);
        &:focus, &:hover {
            background-position: 0 0;
        }
    }

    .bx-prev {
        left: 0;
    }
    
    .bx-next {
        right: 0;
        transform: rotateY(180deg);
    }

    .bx-pager {
        position: absolute;
        bottom: 15px;
        right: 15px;
        width: 100%;
        text-align: right;
    }

    .bx-pager.bx-default-pager a {
        background: transparent;
        box-sizing: border-box;
        width: 7.5px;
        height: 7.5px;
        margin: 0;
        margin-left: 3.75px;
        outline: 0;
        border-radius: 5px;
        border: 1px solid white;
        transition: .2s linear;

        &.active, &:focus, &:hover {
            background: white;
        }
    }   
}

.bx-item {
    border-radius: 4px 4px 0 0;
    height: 151px;
    width: 100%;

    // don't show images while carousel script is loading
    &_hidden {
        display: none;
    }
}

// this block is only visible when pics are hidden because script is loading
.bxslider {
    height: 151px;
    border-radius: 4px 4px 0 0;
    background-color: rgba($color-shade, .25);
}