@import '../../theme/utils/variables.scss';
@import '../../theme/utils/mixins.scss';

.room-preview {
    width: rem(270px);
    height: rem(257px);
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 rem(10px) rem(20px) rgba($color-shade, .05);
    background: $color-bg;
    
    &__brief {
        padding: rem(20px);
    }

    &__info {
        border-bottom: 1px solid rgba($color-shade, .1);
        padding-bottom: rem(7px);
        margin-bottom: rem(8px);
    }

    &__feedback {
        display: flex;
        justify-content: space-between;
    }  
}
