//- card w/ slider and room info: number, price, rating
    powered via bxslider

    options.roomNumber     - room number
    options.daylyPrice     - price per day
    options.commentsNumber - number of comments
    options.rating         - amount of stars you want to show
    options.isLuxury       - show "luxury" caption
    options.photos         - photos in carousel
                             note that you can't pass an array of just image urls
                             because require() argument can't be a variable

    example: 
        +room-preview({
            roomNumber: 888,
            daylyPrice: '9 990',
            rating: 5,
            isLuxury: true,
            commentsNumber: 145,
            photos: [
                require('./img/img-1.png'),
                require('./img/img-2.png'),
                require('./img/img-3.png')
            ]
        })

include ../rate-button/rate-button
include ../room-info/room-info

mixin room-preview({ roomNumber, daylyPrice, rating, isLuxury, commentsNumber, photos })
    .room-preview
        .bxslider
            each photo in photos
                //- js will unhide it when the document is ready
                //- without js it is a mess of pictures you don't want to show
                img(src= photo class= 'bx-item bx-item_hidden')
        
        .room-preview__brief
            +room-info({ roomNumber, daylyPrice, isLuxury, mix: 'room-preview__info' })
            .room-preview__feedback
                +rate-button({ rating })
                span.room-preview__comments-number= commentsNumber + ' Отзывов'