//- like button

    options.likesNumber - number of likes
    options.isClicked - is it highlighting or not
    options.mix - additional classes
    
    usage:
        +like-btn(likesNumber: 12, isClicked: true)

mixin like-btn({ likesNumber = 0, isClicked = false, mix = '' })
    - var iconName = isClicked ? 'favorite' : 'favorite_border'
    if isClicked
        - mix += 'like-btn_active'

    button(class= 'btn btn_ghost like-btn ' + mix)
        span.like-btn__icon.material-icons= iconName
        span.like-btn__likes-number= likesNumber