@import '../../theme/utils/variables.scss';
@import '../../theme/utils/mixins.scss';

.text-field {
    display: block;
}

.field {
    width: 100%;
    height: rem(44px);
    padding: 0 rem(15px);
    box-sizing: border-box;

    background: $color-bg;
    border: 1px solid rgba($color-shade, .25);
    border-radius: 4px;
    transition: border 100ms linear;

    font: rem(14px) $font-content;
    line-height: rem(24px);
    color: rgba($color-shade, .75);
    

    &:hover, &:focus {
        outline: none; // rm default chrome style for input:focus
        border-color: rgba($color-shade, .5);
    }

    &::placeholder {
        color: rgba($color-shade, .25);
    }
}

.field-label {
    margin: 0;
    margin-bottom: rem(5px);
}