//- text field
    
    options.label: title above the field
    options.mix - string that would be mixed in the classes of the component's root
    options.attributes - any input's attributes like id, placeholder, value, etc

    example:
        +text-field({ 
                label: null,
                mix: "login-form__field",
                inputAttributes: {
                    name: "email", 
                    type: "email", 
                    placeholder: "Email"
                }
            })
    
    for masking use jquery-mask-plugin
    docs: https://igorescobar.github.io/jQuery-Mask-Plugin/docs.html
    TLDR: use data-mask="00/00/0000" (or whatever other mask) as the attribute of the input
        inputAttributes: {
            placeholder: "DD.MM.YYYY", 
            'data-mask': '00/00/0000'
        }

mixin text-field(options)

    if !options
        - options = {}
    
    - var classes = 'text-field ' + (options.mix || '')

    label(class= classes)
    
        if options.label
            h3.field-label= options.label

        input(
            class= "field"
            type= "text"
        )&attributes(options.inputAttributes)
